<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="ResumeScoring" 
                 type="ResumeScoring.Config.ResumeScoringSection, ResumeScoring" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="apikey" value="5JT8NHLNQJuBQouMyZtgYDFf4bJsHw4v"/>
    <add key="resumeFolder" value="C:\resumes"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.24.5040" newVersion="3.1.24.5040" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <ResumeScoring>
        <WordGroups>
          <add type="HIT" name="Web Programming" wordGroup="ASP.NET, ASP.NET MVC, MVC, jquery, web form" weight="5" />
          <add type="HIT" name="Old Yuck Words" wordGroup="Access 2007, Access, Office 2010, Office 2007, Word 2010, PowerPoint, Excel" weight="-10" />
        </WordGroups>
    </ResumeScoring>
</configuration>