<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="ResumeScoring" 
                 type="ResumeScoring.Config.ResumeScoringSection, ResumeScoring" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="apikey" value="5JT8NHLNQJuBQouMyZtgYDFf4bJsHw4v"/>
    <add key="resumeFolder" value="C:\resumes"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.24.5040" newVersion="3.1.24.5040" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

    <ResumeScoring>
        <WordGroups>
          <!-- positives -->
          <add type="HIT" name="Testing" wordGroup="TDD, Test Driven Development, Test First, integration testing, functional testing, Selenium, Canopy, performance testing, nUnit" weight="2" />
          <add type="HIT" name="Build / CI" wordGroup="Cruise Control, CruiseControl.net, TeamCity, Jenkins, nant, powershell, msbuild, make, rake, pvcs, ant, gradle, automake, bamboo, hudson, team foundation server, TFS" weight="2" />          
          <add type="HIT" name="Positive Languages" wordGroup="C, C\+\+, C#, Java, Perl, Ruby, Python, JavaScript, XML, XSLT" weight="1" />
          <add type="HIT" name="Database" wordGroup="SQL server, Nhibernate, ORM, Linq2sql, Flyweight, Dapper, Entity Framework, EF, red gate, SSIS, SSRS, SSMS" weight="1" />
          <add type="HIT" name="Cloud" wordGroup="Azure, AWS, amazon web services, rackspace cloud, google cloud" weight="5" />
          <add type="HIT" name="Frameworks" wordGroup="ASP.NET, ASP.NET MVC, Web API, AngularJS, Bootstrap, jQuery, moo tools, knockout" weight="4" />
          <add type="HIT" name="Patterns" wordGroup="REST, DDD, SOLID, onion, repository, factory, builder, CQRS, CQS, command query separation, command query responsibility segregation" weight="2" />
          <add type="HIT" name="Process" wordGroup="Agile, SCRUM, Kanban, XP, pair programming" weight="2" />
          <add type="HIT" name="Tools" wordGroup="ReSharper|TestDriven.NET|CodeRush, SQL Tool Belt, RedGate, Visual Studio, CodeSmith, GhostDoc, Typemock, dotTrace, StyleCop, Reflector, Ncrunch, ncover" weight="2" />
          <add type="HIT" name="Source Control" wordGroup="Perforce, Vault, git, Mercurial, github, bitbucket, TFS, team foundation server, SVN, tortoise, codeplex" weight="2" />
          
          <add type="MISS" name="Must haves" wordGroup="C#, SQL, .NET, ReSharper, testing, web" weight="-10" />
               
          <!-- negatives -->
          <add type="HIT" name="Negative Languages" wordGroup="VB, VB6, VBScript, VB.NET, VBA, MS Office, COM, COM+, DCOM, Visual Basic" weight="-5" />
          <add type="HIT" name="Negative OS" wordGroup="Windows NT, NT, Vista, Windows XP" weight="-5" />
          <add type="HIT" name="Negative Process" wordGroup="SixSigma, RUP, rational unified process" weight="-5" />
          <add type="HIT" name="Negative Tools" wordGroup="Access, Visual Source Safe, MS Office" weight="-5" />
        </WordGroups>
    </ResumeScoring>
</configuration>